{% extends 'base.html' %}

{% block title %} 
    Encoder
{% endblock %}

{% block content %}
    <form>
        Plaintext:
        <br>
        <textarea id="plaintext"></textarea>
        <br>
        <button id="sub">Subsitution Cipher</button>
        <button id="shift">Shift Cipher</button>
        <button id="vigenere">Vigenere Cipher</button>
        <button id="enigma">Enigma Machine</button>
        <br>

        <div class="hide subs">
            To make your own cipher alphabet:<br>
            Type a plaintext letter or word, =, then type the cipher replacement. Use commas between plaintexts<br>
            Example: "a=*, b=(, c=^"
            <br>
            <input type="text" id="cipherAlpha">
            <button id="customAlpha">Encode</button>
            <br>

            Or pick our one of below cipher alphabets:
            <br>
            <button id="babbington">Babbington Alphabet</button>
            <button id="atbash">Atbash Alphabet</button>
            <button id="bacon">Baconian Alphabet</button>
        </div>

        <div class="hide shift">
            Shift each number ___ chararcters?
            <input type="number">
            <button>Encode</button>
        </div>

        <div class="hide vigenere">
            What's your key?
            <input type="text">
            <button>Encode</button>
        </div>

        <div class="hide enigma">
            <!-- repeat this 6 times for all swaps -->
            Swaps:
            {% for letter in alphabet %} 
                <input type="radio" value={{ letter }}>{{ letter }}
            {% endfor %}

            <!-- repeat this 3 times for all wheels -->
            Wheels:
            <select>
                {% for wheel in wheels %}
                    <option value={{ wheel }}>
                        {{ wheel }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
    </form>
{% endblock %}